/* 홈 */
$dark-green:#105A31;
$green:#19A05E;

p {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
}
.home-wrapper{
	position: relative;
	width: 1440px;
	max-height: 3232px;
	margin: 0 auto;
}

.logo{
	position: absolute;
	left: 40px;
	top: 32px;
}
.image {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Frame 55 */
.title-wrapper{
	position: absolute;
	width: 600px;
	height: 292px;
	left: 203px;
	top: 118px;
	
text-transform: uppercase;
	p{
		position: absolute;
		left: 0px;
		top: 122px;

		font-family: 'Inter';
		font-style: normal;
		font-weight:bold;
		font-size: 1.25rem;
		line-height: 1.5rem;
		letter-spacing: 0.07em;

		color: $dark-green;
	}
	.title{
		position: absolute;
		left: 0px;
		top: 0px;
		font-family: 'Righteous';
		font-style: normal;
		font-weight: 400;
		font-size: 5.635rem;
		line-height: 7rem;
		letter-spacing: 0.07em;


		text-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
		background-image: linear-gradient(
			-225deg,
			$dark-green 0%,
			$green 30%,
			$dark-green 65%,
			$green 100%
		);
		color: #fff;
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2s linear infinite;
		display: inline-block;
		@keyframes textclip {
			to {
			background-position: 200% center;
			}
		}
	}

	button{
		position: absolute;
		width: 295.5px;
		height: 80px;
		left: 0px;
		top:212px;

		background: linear-gradient(90deg, $green 0%, #20CD79 101.86%);
		box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
		border-radius: 6.25rem;
		border: none;

		font-weight: 700;
		font-size: 1.563rem;
		line-height: 1.875rem;
		text-align: center;
		letter-spacing: 0.07em;

		color: #FFFFFF;
		transition: .5s;
		&:hover {
			background: white;
			color: #19A05E;
			transform: translate(0, -5%);
			}
		&:hover:after {
			left: auto;
			right: 0;
			width: 100%;
			}
	}
}

.title-img{
	position: absolute;
	width: 1130.18px;
	height: 1164.7px;
	left:231.82px;
}

.line{
	border-bottom: 0.063rem dashed #C7C7C7;
}
.home-first{
	position: absolute;
	width: 1193.12px;
	height: 681.56px;
	left: 68px;
	top: 828px;
	.image {
		position: absolute;
		width: 804.12px;
		height: 681.56px;
		left: -4.375rem;
		top: -3.75rem;
		z-index: 1;
	}
	.text {
		position: absolute;
		width: 562px;
		height: 361px;
		left: 626px;
		top: 111px;
		.head{
			position: absolute;
			box-sizing: border-box;
			width: 296px;
			height: 22px;
			left: 266px;
			top: 0px;

			text-align: center;
			background: #E3FAE7;
			border: 1px solid rgba(16, 90, 49, 0.22);
			border-radius: 0.625rem;
			font-family: "Noto Sans", sans-serif;
			font-size: 0.688rem;
			line-height: 1rem;
			
			padding-top: 0.125rem;

			color: $green;
		}
		h1 {
			margin-top: 3rem;
			font-size: 3.2rem;
			line-height: 3.5rem;
			text-align: right;
			letter-spacing: 0.07em;
			font-family: 'NanumSquare';
			font-weight: bolder;

			color: #2D3E34;
		}
		p {
			font-style: normal;
			font-size: 1.25rem;
			line-height: 1.7rem;
			text-align: right;
			letter-spacing: 0.07em;

			color: #2D3E34;
			padding: 1.4rem 0rem;
		}
		button {
			position: absolute;
			width: 191px;
			height: 47px;
			left: 371px;
			top: 320px;

			background: $green;
			border: 0.125rem solid #F0F0F0;
			border-radius: 0.625rem;
			font-size: 1.25rem;
			text-align: center;
			letter-spacing: 0.07em;
			margin-top: 1.25rem;
			transition: .5s;
			color: #ffffff;
			&:hover {
				background: white;
				color: #19A05E;
				transform: translate(0, -5%);
				border:none;
				}
			&:hover:after {
				left: auto;
				right: 0;
				width: 100%;
			}
		}
	}
}
.home-second{
	position: absolute;
	width: 1059.94px;
	height: 664px;
	left: 239px;
	top: 1569px;
	.text{
		position: absolute;
		width: 442px;
		height: 384px;
		left: 0px;
		top: 155px;
		.head{
			position: absolute;
			box-sizing: border-box;
			width: 258px;
			height: 22px;
			left: 0px;
			top: 0px;

			text-align: center;
			background: #E3FAE7;
			border: 1px solid rgba(16, 90, 49, 0.22);
			border-radius: 0.625rem;
			font-family: "Noto Sans", sans-serif;
			font-size: 0.688rem;
			line-height: 1rem;
			
			padding-top: 0.125rem;

			color: $green;
		}
		h1 {
			margin-top: 3rem;
			font-size: 3.2rem;
			line-height: 3.5rem;
			font-family: 'NanumSquare';
			font-weight: bolder;
			text-align: left;
			letter-spacing: 0.07em;

			color: #2D3E34;
		}
		p {
			font-style: normal;
			font-size: 1.25rem;
			line-height: 1.7rem;
			text-align: left;
			letter-spacing: 0.07em;

			color: #2D3E34;

			padding: 1rem 0rem;
		}
		button {
			position: absolute;
			width: 149px;
			height: 47px;
			left: 0px;
			top: 325px;

			background: $green;
			border: 0.125rem solid #F0F0F0;
			border-radius: 0.625rem;
			letter-spacing: 0.07em;
			font-size: 1.25rem;
			text-align: center;

			margin-top: 1.25rem;
			color: white;
			transition: .5s;
			&:hover {
				background: white;
				color: #19A05E;
				transform: translate(0, -5%);
				border: none;
			}
			&:hover:after {
				left: auto;
				right: 0;
				width: 100%;
			}
		}
		a {
			color: inherit;
			text-decoration: none;
		}

	}
	.image {
		position: absolute;
		width: 589.94px;
		height: 660.01px;
		left: 360px;
		top: -80px;
	}
}
.home-third{
	position: absolute;
	width: 1204px;
	height: 532px;
	left: 131px;
	top: 2434px;
	.image {
		position: absolute;
		width: 635.24px;
		height: 532px;
		left: -120px;
		top: -120px;
	}
	.text {
		position: absolute;
		width: 480px;
		height: 379px;
		left: 700px;
		top: 123px;

		.head{
			position: absolute;
			box-sizing: border-box;
			width: 226px;
			height: 22px;
			left: 0px;
			top: 0px;

			text-align: center;
			background: #E3FAE7;
			border: 1px solid rgba(16, 90, 49, 0.22);
			border-radius: 0.625rem;
			font-family: "Noto Sans", sans-serif;
			font-size: 0.688rem;
			line-height: 1rem;
			
			padding-top: 0.125rem;

			color: $green;
		}
		h1 {
			margin-top: 3rem;
			font-size: 3.2rem;
			line-height: 3.5rem;
			font-family: 'NanumSquare';
			font-weight: bolder;
			text-align: left;
			letter-spacing: 0.07em;

			color: #2D3E34;
		}
		p {
			font-style: normal;
			font-size: 20px;
			line-height: 27px;
			text-align: left;
			letter-spacing: 0.07em;
			color: #2D3E34;
			padding: 22px 0px;
		}
	}
}

footer{
	position: absolute;
	width: 100%;
	height: 77px;
	left: 0px;
	top:3155px;
	img {
		position: absolute;
		left:622px;
		top:7px;
	}
}

